<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41317552830-gf0fueg62o83jq8u1qcn6adkup8r71rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41317552830-gf0fueg62o83jq8u1qcn6adkup8r71rt</string>
	<key>API_KEY</key>
	<string>AIzaSyA2N9qeJ2EPMIRvXi4G4W5hDKG8OMGaCuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>41317552830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueobjectltd.saveme</string>
	<key>PROJECT_ID</key>
	<string>saveapp-9126d</string>
	<key>STORAGE_BUCKET</key>
	<string>saveapp-9126d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41317552830:ios:8e3b5b6897e14e80</string>
	<key>DATABASE_URL</key>
	<string>https://saveapp-9126d.firebaseio.com</string>
</dict>
</plist>